---
import background from '../assets/background.svg';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>My proyecto</title>
	</head>
	<body>
		<div id="container">
			<img id="background" src={background.src} alt="" fetchpriority="high" />
			<a href="/">Inicio</a>
			<a href="/about/">Sobre mí</a>
			<a href="/blog">Entradas</a>
			<slot />
		</div>
	</body>
</html>

<style>
	    @font-face {
		font-family: 'Agave';
		src: url('../AgaveNerdFont-Bold.ttf') format('truetype'),
			 url('../AgaveNerdFont-Regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
    }

	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}

	#container {
		font-family: 'Agave';
		height: 100%;
	}
	
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
